body{
    background-image: url('images/calm-body-of-water-1363876.jpg');
    background-size: cover;
}

h1{
    text-align: center;
    color: white;
    font-size: 85px;
    font-family: OCR A Std, monospace;
    margin: 0;
}
#left{
    float: left;
    width: 25%;
    color: white;

}
#widget{
    margin-top: 25px;
}

#right{
    float: right;
    width: 75%;
}